/* input */
.input {
  position: relative;
  > input {
    display: block;
    width: 100%;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    line-height: 48px;
    color: #fff;
    text-align: left;
    background-color: #1A1A1A;
    appearance: none;
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
    &::-webkit-inner-spin-button {
      display: none;
    }
    &::placeholder {
      color: #606060;
    }
    &:focus {
      border-color: #3f3f3f;
    }
  }
}
/* // intput */

/* checkbox */
.checkbox {
  display: inline-flex;
  align-items: center;
  position: relative;
  > input {
    @include hidden;
    &:checked ~ i {
      &::after {
        opacity: 1;
      }
    }
    &:checked:disabled ~ i {
      border-color: #fff;
      background-color: transparent;
      & ~ span {
        color: #202020;
        background: #fff;
      }
    }
  }
  > i {
    position: relative;
    flex: none;
    width: 26px;
    height: 26px;
    margin: 1px 0;
    border: 1px solid #fff;
    border-radius: 2px;
    &::after {
      content: '';
      position: absolute;
      top: 7px;
      left: 6px;
      width: 12px;
      height: 6px;
      border-left: 2px solid #00F0FF;
      border-bottom: 2px solid #00F0FF;
      overflow: hidden;
      opacity: 0;
      transform: rotate(-45deg);
      transition: 0.3s;
    }
  }
  > span {
    flex: auto;
    margin-left: 14px;
    color: #fff;
  }
}
/* // checkbox */

/* textarea */
.textarea {
  position: relative;
  textarea {
    display: block;
    width: 100%;
    height: 320px;
    padding: 16px;
    font-size: 16px;
    color: #fff;
    resize: none;
    background-color: #1A1A1A;
    &::placeholder {
      color: #606060;
    }
  }
}
/* // textarea */

/* button */
.btn {
  display: inline-flex;
  cursor: pointer;
  .text {
    position: relative;
    display: block;
  }
  &.ty1 {
    padding: 20px 36px;
    border: 1px solid #fff;
    border-radius: 36px;
    background-color: transparent;
     .text {
      padding-left: 36px;
      font-size: 24px;
      line-height: 30px;
      color: #fff;
      &::before {
        content: '';
        position: absolute;
        top: 4px;
        left: 12px;
        height: 23px;
        border-left: 1px solid #fff;
      }
      &::after {
        content: '';
        position: absolute;
        top: 15px;
        left: 1px;
        width: 23px;
        border-bottom: 1px solid #fff;
      }
     }
  }
  &.ty2 {
    padding: 10px 24px;
    border-radius: 24px;
    background-color: #00F0FF;
    .text {
      color: #000;
      line-height: 24px;
    }
  }
  &.ty3 {
    padding: 7px 24px;
    border: 1px solid #fff;
    border-radius: 40px;
    background-color: transparent;
    transition: 0.3s;
    .text {
      padding-right: 32px;
      color: #fff;
      line-height: 24px;
      transition: 0.3s;
      &::before {
        content: '';
        position: absolute;
        top: 6px;
        right: 6px;
        width: 12px;
        height: 12px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transition: 0.3s;
      }
      &::after {
        content: '';
        position: absolute;
        top: 11px;
        right: 4px;
        width: 16px;
        border-bottom: 2px solid #fff;
        transform: rotate(-45deg);
        transition: 0.3s;
      }
    }
    &:hover {
      border: 1px solid #00F0FF;
      .text {
        color: #00F0FF;
        &::before,
        &::after {
          border-color: #00F0FF;
        }
      }
    }
  }
}

.btnarea {
  text-align: center;
  font-size: 0;
}

.down_arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: inline-block;
  width: 72px;
  height: 72px;
  font-size: 0;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
  transform: translateX(-50%);
  &_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20px;
    border-left: 2px solid #fff;
    transform: translate(-50%, -50%);
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -7px;
      width: 12px;
      height: 12px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotate(-45deg);
    }
  }
}
/* // button */

/* main_kv */
.main_kv {
  position: relative;
  height: 100%;
  height: 100vh;
  > h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    font-weight: 100;
    font-size: 64px;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
    small {
      display: block;
      padding-top: 30px;
      font-weight: 900;
      font-size: 20px;
    }
  }
}
/* // main_kv */

/* content default */
.content {
  padding: 120px 0;
  &_title {
    width: 1280px;
    margin: auto;
    font-weight: 600;
    font-size: 40px;
    color: #fff;
  }
  &_desc {
    width: 1280px;
    margin: auto;
    padding: 72px 0 0 80px;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    line-height: 26px;
  }
  .sub_title {
    font-weight: 700;
    font-size: 32px;
  }
  &_inner {
    width: 1280px;
    margin: auto;
  }

  &.history {
    padding-bottom: 200px;
    background-color: #CFCFCF;
    .content_title {
      color: #0D0D0D;
    }
  }

  &.bodalab {
    padding-top: 0;
  }

  &.expertise {
    padding-bottom: 87px;
  }

  &.project {
    .content_title {
      padding-bottom: 100px;
      font-size: 60px;
      text-align: center;
    }
  }

  &.welcome {
    background: url(../../img/img_map.svg) no-repeat left top;
    .content_title {
      .font_water {
        font-family: 'Waterfall';
        font-weight: 400;
        font-size: 190px;
        line-height: 110px;
      }
      small {
        display: block;
        padding: 26px 0 0 440px;
        font-weight: 600;
        font-size: 24px;
      }
    }
    .content_inner {
      padding-left: 160px;
    }
  }
}
/* // content default */

/* about us */
.about_us {
  .content_desc {
    position: relative;
    z-index: 1;
  }
  .gsap_aboutus {
    position: relative;
    top: -73px;
    text-align: right;
    .marquee {
      width: 100%;
      margin-top: 28px;
      font-size: 84px;
      color: #fff;
      overflow: hidden;
    }
  }
}
/* // about us */

/* history */
.history {

}
.history_container {
  display: flex;
  justify-content: space-between;
  padding-top: 88px;
  &_detail {
    .history_year {
      padding-bottom: 32px;
      font-weight: 100;
      font-size: 32px;
    }
    .history_list {
      display: flex;
      flex-direction: column;
      gap: 12px 0;
      padding-left: 23px;
      color: #0D0D0D;
      border-left: 1px solid #0D0D0D;
      .day {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
      }
      .detail {
        font-weight: 300;
        line-height: 26px;
      }
    }
  }
}
/* // history */

/* BODALAB */
.gsap_bodalab {
  display: flex;
  align-items: flex-start;
  img {
    position: relative;
    opacity: 0;
    &.gsap_bodalab_img01 {
      top: -200px;
    }
    &.gsap_bodalab_img02 {
      margin: 0 30px;
    }
    &.gsap_bodalab_img03 {
      right: -200px;
      margin-top: 244px;
    }
  }
}
.gsap_bodalab_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 238px;
  padding-top: 238px;
  .text {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.5;
    color: transparent;
    background: linear-gradient(90deg,#fff 50%,#575757 0);
    background-size: 200% 100%;
    background-position-x: 100%;
    background-clip: text;
    // background-position-x: 50%;
  }
}
/* // BODALAB */

/* VISION */
.vision {
  .content_desc {
    position: relative;
    z-index: 1;
  }
  .gsap_vision {
    position: relative;
    display: flex;
    margin: 0 auto;
    margin-top: -48px;
    .gsap_vision_inner {
      flex: 0 0 50%;
      display: flex;
      justify-content: flex-end;
    }
  }
  .gsap_vision_text {
    width: 660px;
    .text_item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 252px 0;
      // padding: 300px 0;
      padding-left: 160px;
      color: #fff;
      .text_item_inner {
        position: relative;
      }
      .tit {
        display: block;
        font-family: 'Waterfall';
        font-weight: 400;
        font-size: 80px;
        line-height: 140px;
      }
      p {
        position: absolute;
        bottom: 0;
        left: 95px;
        font-weight: 300;
        white-space: nowrap;
      }
    }
  }
  .gsap_vision_image {
    position: relative;
    z-index: 1;
    flex: 0 0 50%;
    .img {
      position: sticky;
      top: calc(50% - 270px);
      width: 100%;
      max-width: 100%;
      .dom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 540px;
        // background-color: blue;
        opacity: 0;
        &.active {
          opacity: 1;
          transition: 1.2s;
        }
        img {
          max-width: 100%;
        }
      }
    }

  }
}
/* // VISION */

/* PROJECT */
.project_content {
  display: flex;
  flex-direction: column;
  gap: 100px 0;
  .project_content_items {
    display: flex;
    gap: 0 32px;
    min-height: 630px;
    .item {
      display: flex;
      flex-direction: column;
      gap: 24px 0;
      .item_thumb {
        position: relative;
        padding-top: 66%;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .item_detail {
        display: flex;
        flex-flow: row wrap;
        gap: 24px;
        .title {
          flex: 1 1 0;
          font-weight: 700;
          font-size: 18px;
          color: #fff;
          line-height: 24px;
          small {
            display: block;
            padding-top: 18px;
            font-weight: 400;
            font-size: 14px;
            color: #B0B0B0;
          }
        }
        .date {
          flex: none;
          font-weight: 300;
          color: #B0B0B0;
          line-height: 24px;
        }
        .badge_wrap {
          flex: 1 1 100%;
        }
      }
      &:nth-child(1) {
        width: 60%;
      }
      &:nth-child(2) {
        width: 40%;
      }
    }
    &:nth-child(odd) {
      .item {
        &:nth-child(1) {
          width: 40%;
        }
        &:nth-child(2) {
          width: 60%;
        }
      }
    }
  }
}

/* // PROJECT */

/* badge */
.badge_wrap {
  display: flex;
  gap: 4px;
  .badge_item {
    display: block;
    padding: 0 14px;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    line-height: 18px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.20);
  }
}
/* // badge */

/* expertise */
.expertise {  
}
.expertise_list {
  display: inline-flex;
  gap: 0 120px;
  margin: 120px 0 0 160px;
  > li {
    display: flex;
    flex-direction: column;
    gap: 24px 0;
    .num {
      font-weight: 700;
      font-size: 18px;
      color: #00F0FF;
      line-height: 22px;
    }
    .en {
      font-size: 32px;
      color: #fff;
    }
    .ko {
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      color: #fff;
    }
  }
}
/* // expertise */

/* welcome */
.welcome {

}
.office_info {
  margin: 140px 0;
  color: #fff;
}
.office_detail {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  margin-top: 40px;
  > li {
    .tit {
      display: block;
      padding: 24px 0;
      font-weight: 700;
      color: #00F0FF;
    }
    .detail {
      font-weight: 300;
    }
  }
}
.form {  
  &_input {
    display: flex;
    gap: 12px;
    flex-flow: row wrap;
    .input {
      flex: 1 1 calc(50% - 6px);
    }
    .textarea {
      flex: none;
      width: 100%;
    }
  }

  &_agree {
    margin-top: 12px;
  }

  &_btnarea {
    margin-top: 24px;
    text-align: center;
  }
}
.recruit_btnarea {
  display: flex;
  gap: 16px;
}
/* // welcome */


.slide_wrap {
  + .slide_wrap {
    margin-top: 32px;
  }

  .slide_title {
    > .slide_act {
      position: relative;
      display: block;
      width: 100%;
      background-color: transparent;
      padding-bottom: 32px;
      font-size: 32px;
      color: #fff;
      line-height: 32px;
      text-align: left;
      border-bottom: 1px solid #fff;
      cursor: pointer;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
      }
      &::after {
        content: '';
        position: absolute;
        top: 3px;
        right: 7px;
        width: 17px;
        height: 17px;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-45deg);
        transition: .3s;
      }
      &.active {
        &::after {
          top: 13px;
          transform: rotate(-225deg);
        }
      }
    }
  }

  .slide_content {
    color: #fff;
    // &.active {
    //   background-color: blue;
    // }
    &_inner {
      padding-top: 32px;
    }
  }
}