<!DOCTYPE html>
<html lang="ko" {{#if class}} class="{{class}}"{{/if}}>
  {{> head title='BODALAB'}}
  <body>
    <div class="wrap">
      {{> @partial-block }}
      {{> footer}}
    </div>
  </body>
</html>