
<footer>
  <div class="inner">
    <div class="footer_company">
      THE<br> BODA LAB
    </div>
    <div class="footer_contact">
      <div class="footer_contact_detail">
        <strong>Mail</strong>
        <span><a href="mailTo:bodalab@bodalab.com">bodalab@bodalab.com</a></span>
      </div>
      <div class="footer_contact_detail">
        <strong>Tel</strong>
        <span>010-1234-5678</span>
      </div>
    </div>
    <div class="footer_copy">© 2024 BODA LAB</div>
  </div>
</footer>
 