<nav class="nav_bottom">
  <ul>
    <li><a class="icon_01" href="#">투데이</a></li>
    <li><a class="icon_02" href="#">콘텐츠</a></li>
    <li><a class="icon_03" href="#">고객</a></li>
    <li><a class="icon_04" href="#">MY+</a></li>
    <li><a class="icon_05 menu_open" href="#">전체</a></li>
  </ul>

  <div class="menu_content">
    <div class="menu_content_top">
      <h2 class="title">전체</h2>
      <a href="#" class="btn icon_setting">설정</a>
    </div>
    <div class="menu_content_body">
      <div class="bold_border_container ty1">
        <div class="cont_wrap">
          <div id="notice_swiper" class="menu_content_notice swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="menu_content_notice_item">
                  <a href="#">
                    <strong class="title ty1">공지</strong>
                    
                    <span class="item_text">orange touch 업데이트 예정</span>
                    
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="menu_content_notice_item">
                  <a href="#">
                    <strong class="title ty1">이벤트</strong>
                    
                    <span class="item_text">orange touch 업데이트 예정</span>
                    
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="menu_content_links">
            <a href="#" class="menu_content_links_ic_01">
              <span>보장분석</span>
            </a>
            <a href="#" class="menu_content_links_ic_02">
              <span>상품비교<br>설명확인서</span>
            </a>
            <a href="#" class="menu_content_links_ic_03">
              <span>자동차보험<br> 비교견적</span>
            </a>
          </div>
        </div>
      </div>
      <div class="bold_border_container ty1">

        <div class="slide_wrap ty3">
          <div class="slide_title">
            <button type="button" class="slide_trg">
              <span class="title menu_content_ic_01">고객</span>
            </button>
          </div>
          <div class="slide_cont">
            <div class="inner">
              <ul class="list_link">
                <li><a href="#">고객목록</a></li>
                <li><a href="#">고객검색</a></li>
                <li><a href="#">고객등록</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="slide_wrap ty3">
          <div class="slide_title">
            <button type="button" class="slide_trg">
              <span class="title menu_content_ic_02">영업지원</span>
            </button>
          </div>
          <div class="slide_cont">
            <div class="inner">
              <ul class="list_link">
                <li><a href="#">보장분석</a></li>
                <li><a href="#">자동차보험 비교견적</a></li>
                <li><a href="#">상품비교설명확인서</a></li>
                <li><a href="#">셀프러닝</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="slide_wrap ty3">
          <div class="slide_title">
            <button type="button" class="slide_trg">
              <span class="title menu_content_ic_03">콘텐츠</span>
            </button>
          </div>
          <div class="slide_cont">
            <div class="inner">
              <ul class="list_link">
                <li><a href="#">콘텐츠 홈</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="slide_wrap ty3">
          <div class="slide_title">
            <button type="button" class="slide_trg">
              <span class="title menu_content_ic_04">혜택</span>
            </button>
          </div>
          <div class="slide_cont">
            <div class="inner">
              <ul class="list_link">
                
                <li><a href="#">orange mall</a></li>
                
                <li><a href="#">금융FA전문가</a></li>
                <li><a href="#">라이프 솔루션 서비스</a></li>
                <li><a href="#">이벤트</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="slide_wrap ty3">
          <div class="slide_title">
            <button type="button" class="slide_trg">
              <span class="title menu_content_ic_05">My+</span>
            </button>
          </div>
          <div class="slide_cont">
            <div class="inner">
              <ul class="list_link">
                <li><a href="#">My+ 홈</a></li>
                <li><a href="#">전자명함</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="slide_wrap ty3">
          <div class="slide_title">
            <button type="button" class="slide_trg">
              <span class="title menu_content_ic_06">고객지원</span>
            </button>
          </div>
          <div class="slide_cont">
            <div class="inner">
              <ul class="list_link">
                <li><a href="#">이용안내</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">공지사항</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if page_top}}<a href="#none" class="page_top">위로 이동</a>{{/if}}

</nav>